Repository woowacourse-teams/2021-babble, pull requests merged in 2021-07, with the labels that each got.

#32 feat: 방 생성, 조회 기능 구현
  back/babble/To-Do.md
  back/babble/build.gradle
  back/babble/src/docs/asciidoc/api-docs.adoc
  back/babble/src/main/java/gg/babble/babble/BabbleApplication.java
  back/babble/src/main/java/gg/babble/babble/DataLoader.java
  back/babble/src/main/java/gg/babble/babble/controller/BabbleAdvice.java
  back/babble/src/main/java/gg/babble/babble/controller/RoomController.java
  back/babble/src/main/java/gg/babble/babble/domain/Game.java
  back/babble/src/main/java/gg/babble/babble/domain/Room.java
  back/babble/src/main/java/gg/babble/babble/domain/RoomTag.java
  back/babble/src/main/java/gg/babble/babble/domain/Tag.java
  back/babble/src/main/java/gg/babble/babble/domain/User.java
  back/babble/src/main/java/gg/babble/babble/domain/repository/GameRepository.java
  back/babble/src/main/java/gg/babble/babble/domain/repository/RoomRepository.java
  back/babble/src/main/java/gg/babble/babble/domain/repository/TagRepository.java
  back/babble/src/main/java/gg/babble/babble/domain/repository/UserRepository.java
  back/babble/src/main/java/gg/babble/babble/dto/GameResponseDto.java
  back/babble/src/main/java/gg/babble/babble/dto/HostResponseDto.java
  back/babble/src/main/java/gg/babble/babble/dto/RoomRequestDto.java
  back/babble/src/main/java/gg/babble/babble/dto/RoomResponseDto.java
  back/babble/src/main/java/gg/babble/babble/exception/BabbleDuplicatedException.java
  back/babble/src/main/java/gg/babble/babble/exception/BabbleException.java
  back/babble/src/main/java/gg/babble/babble/exception/BabbleIllegalArgumentException.java
  back/babble/src/main/java/gg/babble/babble/exception/BabbleLengthException.java
  back/babble/src/main/java/gg/babble/babble/exception/BabbleNotFoundException.java
  back/babble/src/main/java/gg/babble/babble/service/GameService.java
  back/babble/src/main/java/gg/babble/babble/service/RoomService.java
  back/babble/src/main/java/gg/babble/babble/service/TagService.java
  back/babble/src/main/java/gg/babble/babble/service/UserService.java
  back/babble/src/main/resources/application-prod.properties
  back/babble/src/main/resources/application-test.properties
  back/babble/src/main/resources/application.properties
  back/babble/src/main/resources/static/docs/api-docs.html
  back/babble/src/test/java/gg/babble/babble/ApplicationTest.java
  back/babble/src/test/java/gg/babble/babble/BabbleApplicationTests.java
  back/babble/src/test/java/gg/babble/babble/domain/RoomTest.java
  back/babble/src/test/java/gg/babble/babble/domain/TagTest.java
  back/babble/src/test/java/gg/babble/babble/domain/repository/GameRepositoryTest.java
  back/babble/src/test/java/gg/babble/babble/domain/repository/RoomRepositoryTest.java
  back/babble/src/test/java/gg/babble/babble/domain/repository/TagRepositoryTest.java
  back/babble/src/test/java/gg/babble/babble/domain/repository/UserRepositoryTest.java
  back/babble/src/test/java/gg/babble/babble/restdocs/ApiDocumentationIntegrationTest.java
  back/babble/src/test/java/gg/babble/babble/service/GameServiceTest.java
  back/babble/src/test/java/gg/babble/babble/service/RoomServiceTest.java
  back/babble/src/test/java/gg/babble/babble/service/TagServiceTest.java
  back/babble/src/test/java/gg/babble/babble/service/UserServiceTest.java
  back/babble/src/test/resources/application-test.properties
Labels: back-end, enhancement

#35 feat: 채팅방 입장,퇴장 채팅 전송 수신 기능 구현
  back/babble/build.gradle
  back/babble/src/main/java/gg/babble/babble/DataLoader.java
  back/babble/src/main/java/gg/babble/babble/config/WebSocketConfig.java
  back/babble/src/main/java/gg/babble/babble/controller/ChatController.java
  back/babble/src/main/java/gg/babble/babble/controller/RoomController.java
  back/babble/src/main/java/gg/babble/babble/controller/UserListUpdateController.java
  back/babble/src/main/java/gg/babble/babble/domain/Room.java
  back/babble/src/main/java/gg/babble/babble/domain/Session.java
  back/babble/src/main/java/gg/babble/babble/domain/User.java
  back/babble/src/main/java/gg/babble/babble/domain/repository/SessionRepository.java
  back/babble/src/main/java/gg/babble/babble/dto/GameResponse.java
  back/babble/src/main/java/gg/babble/babble/dto/HostResponse.java
  back/babble/src/main/java/gg/babble/babble/dto/MessageRequest.java
  back/babble/src/main/java/gg/babble/babble/dto/MessageResponse.java
  back/babble/src/main/java/gg/babble/babble/dto/RoomRequest.java
  back/babble/src/main/java/gg/babble/babble/dto/RoomRequestDto.java
  back/babble/src/main/java/gg/babble/babble/dto/RoomResponse.java
  back/babble/src/main/java/gg/babble/babble/dto/UserJoinRequest.java
  back/babble/src/main/java/gg/babble/babble/dto/UserListUpdateResponse.java
  back/babble/src/main/java/gg/babble/babble/dto/UserResponse.java
  back/babble/src/main/java/gg/babble/babble/service/ChatService.java
  back/babble/src/main/java/gg/babble/babble/service/RoomService.java
  back/babble/src/main/java/gg/babble/babble/service/SessionService.java
  back/babble/src/main/resources/application-test.properties
  back/babble/src/main/resources/static/app.js
  back/babble/src/main/resources/static/index.html
  back/babble/src/main/resources/static/main.css
  back/babble/src/test/java/gg/babble/babble/AcceptanceTest.java
  back/babble/src/test/java/gg/babble/babble/controller/WebSocketTest.java
  back/babble/src/test/java/gg/babble/babble/domain/RoomTest.java
  back/babble/src/test/java/gg/babble/babble/domain/repository/RoomRepositoryTest.java
  back/babble/src/test/java/gg/babble/babble/restdocs/ApiDocumentationIntegrationTest.java
  back/babble/src/test/java/gg/babble/babble/service/RoomServiceTest.java
  back/babble/src/test/resources/application-test.properties
Labels: back-end, enhancement

#42 feat: 소켓, http 요청에 대한 cors설정, 더미데이터 설정
  back/babble/src/main/java/gg/babble/babble/DataLoader.java
  back/babble/src/main/java/gg/babble/babble/config/WebConfig.java
  back/babble/src/main/java/gg/babble/babble/config/WebSocketConfig.java
Labels: back-end, enhancement

#53 chore: local properties 추가
  back/babble/src/main/resources/application-local.properties
Labels: back-end

#55 fix: 테스트 서버 자동 배포 실패 문제 해결
  .github/workflows/release.yml
  back/babble/src/main/resources/application-local.properties
Labels: back-end

#61 fix: local db를 localhost로 수정
  back/babble/src/main/resources/application-prod.properties
Labels: back-end

#74 chore: 웹팩 빌드 세팅 수정
  front/.storybook/preview.js
  front/dist/bundle.js
  front/dist/bundle.js.LICENSE.txt
  front/dist/index.html
  front/package.json
  front/webpack.config.js
Labels: front-end

#117 chore: 백엔드 자동배포 관심사 분리
  .github/workflows/back-release.yml
Labels: back-end, priority-2

#121 백엔드 자동배포 관심사 분리
  .github/workflows/back-release.yml
  .github/workflows/front-release.yml
Labels: back-end, priority-2

#156 chore: 자동배포 탐지 경로 수정
  .github/workflows/back-main.yml
  .github/workflows/back-release.yml
  .github/workflows/front-release.yml
Labels: priority-2, refactor

#157 release: 자동배포 탐지 경로 수정
  .github/workflows/back-main.yml
  .github/workflows/back-release.yml
  .github/workflows/front-release.yml
Labels: back-end, front-end, priority-2, refactor

#158 chore: paths 경로 수정
  .github/workflows/back-main.yml
  .github/workflows/back-release.yml
  .github/workflows/front-release.yml
Labels: back-end, front-end, priority-2, refactor

#159 chore: paths 경로 수정
  .github/workflows/back-main.yml
  .github/workflows/back-release.yml
  .github/workflows/front-release.yml
Labels: back-end, front-end, priority-2, refactor

#170 feat : 태그 관련 기능 구현 및 리팩토링
  back/babble/src/main/java/gg/babble/babble/controller/TagController.java
  back/babble/src/main/java/gg/babble/babble/dto/RoomRequest.java
  back/babble/src/main/java/gg/babble/babble/dto/RoomResponse.java
  back/babble/src/main/java/gg/babble/babble/dto/TagRequest.java
  back/babble/src/main/java/gg/babble/babble/dto/TagResponse.java
  back/babble/src/main/java/gg/babble/babble/service/TagService.java
  back/babble/src/main/resources/static/docs/api-docs.html
  back/babble/src/test/java/gg/babble/babble/controller/TagControllerTest.java
  back/babble/src/test/java/gg/babble/babble/restdocs/ApiDocumentationIntegrationTest.java
  back/babble/src/test/java/gg/babble/babble/service/TagServiceTest.java
Labels: back-end, feature, priority-1

#174 feat: 검색창 컴포넌트 구현
  front/package-lock.json
  front/src/components/SearchBar/SearchBar.js
  front/src/components/SearchBar/SearchBar.scss
  front/src/components/SearchBar/SearchBar.stories.js
  front/src/components/SpeechBubble/SpeechBubble.stories.js
Labels: feature, front-end, priority-1

#171 백엔드 코드 리팩토링
  back/babble/To-Do.md
  back/babble/src/main/java/gg/babble/babble/DataLoader.java
  back/babble/src/main/java/gg/babble/babble/config/WebConfig.java
  back/babble/src/main/java/gg/babble/babble/controller/BabbleAdvice.java
  back/babble/src/main/java/gg/babble/babble/controller/ChatController.java
  back/babble/src/main/java/gg/babble/babble/controller/RoomController.java
  back/babble/src/main/java/gg/babble/babble/controller/TagController.java
  back/babble/src/main/java/gg/babble/babble/controller/UserListUpdateController.java
  back/babble/src/main/java/gg/babble/babble/domain/Room.java
  back/babble/src/main/java/gg/babble/babble/domain/RoomTag.java
  back/babble/src/main/java/gg/babble/babble/domain/Session.java
  back/babble/src/main/java/gg/babble/babble/domain/Tag.java
  back/babble/src/main/java/gg/babble/babble/domain/TagRegistration.java
  back/babble/src/main/java/gg/babble/babble/domain/repository/GameRepository.java
  back/babble/src/main/java/gg/babble/babble/domain/repository/RoomRepository.java
  back/babble/src/main/java/gg/babble/babble/domain/repository/SessionRepository.java
  back/babble/src/main/java/gg/babble/babble/domain/repository/TagRepository.java
  back/babble/src/main/java/gg/babble/babble/domain/repository/UserRepository.java
  back/babble/src/main/java/gg/babble/babble/domain/room/Room.java
  back/babble/src/main/java/gg/babble/babble/domain/room/TagRegistrationsOfRoom.java
  back/babble/src/main/java/gg/babble/babble/domain/tag/Tag.java
  back/babble/src/main/java/gg/babble/babble/domain/tag/TagRegistrationsOfTag.java
  back/babble/src/main/java/gg/babble/babble/domain/user/RoomUsers.java
  back/babble/src/main/java/gg/babble/babble/domain/user/User.java
  back/babble/src/main/java/gg/babble/babble/dto/GameResponse.java
  back/babble/src/main/java/gg/babble/babble/dto/HostResponse.java
  back/babble/src/main/java/gg/babble/babble/dto/MessageRequest.java
  back/babble/src/main/java/gg/babble/babble/dto/MessageResponse.java
  back/babble/src/main/java/gg/babble/babble/dto/RoomRequest.java
  back/babble/src/main/java/gg/babble/babble/dto/RoomResponse.java
  back/babble/src/main/java/gg/babble/babble/dto/TagRequest.java
  back/babble/src/main/java/gg/babble/babble/dto/TagResponse.java
  back/babble/src/main/java/gg/babble/babble/dto/UserJoinRequest.java
  back/babble/src/main/java/gg/babble/babble/dto/UserListUpdateResponse.java
  back/babble/src/main/java/gg/babble/babble/dto/UserResponse.java
  back/babble/src/main/java/gg/babble/babble/exception/BabbleIllegalStatementException.java
  back/babble/src/main/java/gg/babble/babble/service/ChatService.java
  back/babble/src/main/java/gg/babble/babble/service/GameService.java
  back/babble/src/main/java/gg/babble/babble/service/RoomService.java
  back/babble/src/main/java/gg/babble/babble/service/SessionService.java
  back/babble/src/main/java/gg/babble/babble/service/TagService.java
  back/babble/src/main/java/gg/babble/babble/service/UserService.java
  back/babble/src/main/resources/static/app.js
  back/babble/src/main/resources/static/docs/api-docs.html
  back/babble/src/main/resources/static/index.html
  back/babble/src/main/resources/static/main.css
  back/babble/src/test/java/gg/babble/babble/AcceptanceTest.java
  back/babble/src/test/java/gg/babble/babble/controller/TagControllerTest.java
  back/babble/src/test/java/gg/babble/babble/controller/WebSocketTest.java
  back/babble/src/test/java/gg/babble/babble/domain/RoomTest.java
  back/babble/src/test/java/gg/babble/babble/domain/TagTest.java
  back/babble/src/test/java/gg/babble/babble/domain/repository/GameRepositoryTest.java
  back/babble/src/test/java/gg/babble/babble/domain/repository/RoomRepositoryTest.java
  back/babble/src/test/java/gg/babble/babble/domain/repository/TagRepositoryTest.java
  back/babble/src/test/java/gg/babble/babble/domain/repository/UserRepositoryTest.java
  back/babble/src/test/java/gg/babble/babble/restdocs/ApiDocumentationIntegrationTest.java
  back/babble/src/test/java/gg/babble/babble/service/GameServiceTest.java
  back/babble/src/test/java/gg/babble/babble/service/RoomServiceTest.java
  back/babble/src/test/java/gg/babble/babble/service/TagServiceTest.java
  back/babble/src/test/java/gg/babble/babble/service/UserServiceTest.java
Labels: back-end, priority-2, refactor

#175 feat: 방 컴포넌트 구현
  front/.gitignore
  front/dist/bundle.js
  front/dist/bundle.js.LICENSE.txt
  front/dist/index.html
  front/src/components/Avatar/Avatar.js
  front/src/components/Room/Room.js
  front/src/components/Room/Room.scss
  front/src/components/Room/Room.stories.js
  front/style/_variables.scss
Labels: feature, front-end, priority-1

#180 feat: 검색창 한글 자동완성 구현
  front/src/components/SearchBar/SearchBar.js
  front/src/components/SearchBar/SearchBar.stories.js
  front/src/components/SearchBar/service/constant.js
  front/src/components/SearchBar/service/escapeRegExp.js
  front/src/components/SearchBar/service/getKorRegExp.js
  front/src/components/SearchBar/service/getPhonemes.js
Labels: feature, front-end, priority-3

#185 test: tag 전체 조회 관련 테스트코드, restdocs 문서화 구현
  back/babble/src/docs/asciidoc/api-docs.adoc
  back/babble/src/main/resources/static/docs/api-docs.html
  back/babble/src/test/java/gg/babble/babble/controller/TagControllerTest.java
  back/babble/src/test/java/gg/babble/babble/restdocs/TagApiDocumentTest.java
Labels: back-end, bug, feature

#191 채팅방 페이지/ 방 생성 페이지 API 구현
  back/babble/To-Do.md
  back/babble/src/main/java/gg/babble/babble/DataLoader.java
  back/babble/src/main/java/gg/babble/babble/controller/ChatController.java
  back/babble/src/main/java/gg/babble/babble/controller/RoomController.java
  back/babble/src/main/java/gg/babble/babble/controller/UserListUpdateController.java
  back/babble/src/main/java/gg/babble/babble/domain/repository/UserRepository.java
  back/babble/src/main/java/gg/babble/babble/domain/room/MaxHeadCount.java
  back/babble/src/main/java/gg/babble/babble/domain/room/Room.java
  back/babble/src/main/java/gg/babble/babble/domain/user/RoomUsers.java
  back/babble/src/main/java/gg/babble/babble/domain/user/User.java
  back/babble/src/main/java/gg/babble/babble/dto/CreatedRoomResponse.java
  back/babble/src/main/java/gg/babble/babble/dto/FoundRoomResponse.java
  back/babble/src/main/java/gg/babble/babble/dto/GameResponse.java
  back/babble/src/main/java/gg/babble/babble/dto/HeadCountResponse.java
  back/babble/src/main/java/gg/babble/babble/dto/HostResponse.java
  back/babble/src/main/java/gg/babble/babble/dto/MessageResponse.java
  back/babble/src/main/java/gg/babble/babble/dto/RoomRequest.java
  back/babble/src/main/java/gg/babble/babble/dto/UserListUpdateResponse.java
  back/babble/src/main/java/gg/babble/babble/dto/UserResponse.java
  back/babble/src/main/java/gg/babble/babble/service/RoomService.java
  back/babble/src/main/java/gg/babble/babble/service/UserService.java
  back/babble/src/test/java/gg/babble/babble/domain/MaxHeadCountTest.java
  back/babble/src/test/java/gg/babble/babble/domain/RoomTest.java
  back/babble/src/test/java/gg/babble/babble/domain/repository/GameRepositoryTest.java
  back/babble/src/test/java/gg/babble/babble/domain/repository/RoomRepositoryTest.java
  back/babble/src/test/java/gg/babble/babble/domain/repository/UserRepositoryTest.java
  back/babble/src/test/java/gg/babble/babble/restdocs/RoomApiDocumentTest.java
  back/babble/src/test/java/gg/babble/babble/service/RoomServiceTest.java
Labels: back-end, feature, priority-1, refactor

#192 fix: 검색창 컴포넌트 자동완성 기능에 debounce 적용
  front/src/components/SearchInput/SearchInput.js
  front/src/hooks/useDebounce.js
Labels: front-end, priority-3

#197 feat: 닉네임 모달 마크업
  front/index.html
  front/src/components/Button/Button.scss
  front/src/components/Button/RoundButton.js
  front/src/components/Modal/Modal.js
  front/src/components/Modal/Modal.scss
  front/src/components/Modal/ModalMinimized.js
  front/src/components/Modal/ModalNickname.js
  front/src/components/Modal/ModalNickname.scss
  front/src/components/SearchInput/DropdownInput.js
  front/src/components/SearchInput/SearchInput.js
  front/src/components/SearchInput/SearchInput.scss
  front/src/components/SearchInput/TextInput.js
  front/src/contexts/ModalProvider.js
  front/src/core/Typography/Subtitle1.js
  front/src/core/Typography/Subtitle2.js
  front/src/core/Typography/Subtitle3.js
  front/src/pages/ChattingRoom/ChattingRoom.js
  front/src/pages/ChattingRoom/ChattingRoom.scss
  front/src/pages/RoomList/RoomList.js
  front/src/pages/RoomPage.js
  front/src/pages/RoomPage.scss
  front/style/_variables.scss
Labels: feature, front-end, priority-1

#193 게임 이미지 요청 API 기능 구현
  back/babble/src/main/java/gg/babble/babble/DataLoader.java
  back/babble/src/main/java/gg/babble/babble/controller/GameController.java
  back/babble/src/main/java/gg/babble/babble/domain/Game.java
  back/babble/src/main/java/gg/babble/babble/domain/room/MaxHeadCount.java
  back/babble/src/main/java/gg/babble/babble/dto/GameImageResponse.java
  back/babble/src/main/java/gg/babble/babble/service/GameService.java
  back/babble/src/test/java/gg/babble/babble/domain/MaxHeadCountTest.java
  back/babble/src/test/java/gg/babble/babble/domain/repository/RoomRepositoryTest.java
  back/babble/src/test/java/gg/babble/babble/restdocs/GameApiDocumentTest.java
  back/babble/src/test/java/gg/babble/babble/service/GameServiceTest.java
Labels: back-end, feature, priority-1

#194 feat: Nickname section 컴포넌트 구현
  front/src/components/NicknameSection/NicknameSection.js
  front/src/components/NicknameSection/NicknameSection.scss
  front/src/components/NicknameSection/NicknameSection.stories.js
  front/style/_animations.scss
Labels: feature, front-end, priority-1

#200 Spring, DB logging 구현
  back/babble/src/main/java/gg/babble/babble/controller/BabbleAdvice.java
  back/babble/src/main/resources/logback-spring.xml
Labels: back-end, feature, priority-1

#213 feat: PageLayout 추가
  front/src/chunks/Chatbox/Chatbox.js
  front/src/core/Layout/PageLayout.js
  front/src/core/Layout/PageLayout.scss
  front/src/core/Typography/Typography.scss
Labels: feature, front-end, priority-1

#212 log 확장자 gitignore 추가
  back/babble/.gitignore
Labels: back-end, priority-2

#214 초기 페이지 게임 리스트 조회 API 구현
  back/babble/src/main/java/gg/babble/babble/controller/GameController.java
  back/babble/src/main/java/gg/babble/babble/domain/Game.java
  back/babble/src/main/java/gg/babble/babble/domain/Games.java
  back/babble/src/main/java/gg/babble/babble/domain/room/Rooms.java
  back/babble/src/main/java/gg/babble/babble/dto/IndexPageGameResponse.java
  back/babble/src/main/java/gg/babble/babble/service/GameService.java
  back/babble/src/test/java/gg/babble/babble/domain/GamesTest.java
  back/babble/src/test/java/gg/babble/babble/domain/repository/RoomRepositoryTest.java
  back/babble/src/test/java/gg/babble/babble/domain/room/RoomsTest.java
  back/babble/src/test/java/gg/babble/babble/restdocs/GameApiDocumentTest.java
  back/babble/src/test/java/gg/babble/babble/service/GameServiceTest.java
Labels: back-end, feature, priority-1

#216 feat: 방 목록 페이지 마크업을 진행한다.
  front/src/chunks/TagList/TagList.js
  front/src/chunks/TagList/TagList.scss
  front/src/chunks/TagList/TagList.stories.js
  front/src/components/MainImage/MainImage.js
  front/src/components/MainImage/MainImage.scss
  front/src/components/MainImage/MainImage.stories.js
  front/src/components/NicknameSection/NicknameSection.js
  front/src/components/NicknameSection/NicknameSection.scss
  front/src/components/Room/Room.js
  front/src/components/Room/Room.scss
  front/src/components/SearchInput/SearchInput.scss
  front/src/components/Tag/Tag.scss
  front/src/core/Layout/PageLayout.scss
  front/src/hooks/useDebounce.js
  front/src/pages/ChattingRoom/ChattingRoom.js
  front/src/pages/MakeRoom/MakeRoom.js
  front/src/pages/MakeRoom/MakeRoom.scss
  front/src/pages/RoomList/RoomList.js
  front/src/pages/RoomList/RoomList.scss
  front/style/_variables.scss
Labels: feature, front-end, priority-1

#217 feat: 태그 Id 추가
  back/babble/src/main/java/gg/babble/babble/DataLoader.java
  back/babble/src/main/java/gg/babble/babble/domain/repository/TagRepository.java
  back/babble/src/main/java/gg/babble/babble/domain/room/TagRegistrationsOfRoom.java
  back/babble/src/main/java/gg/babble/babble/domain/tag/Tag.java
  back/babble/src/main/java/gg/babble/babble/dto/CreatedRoomResponse.java
  back/babble/src/main/java/gg/babble/babble/dto/FoundRoomResponse.java
  back/babble/src/main/java/gg/babble/babble/dto/TagRequest.java
  back/babble/src/main/java/gg/babble/babble/dto/TagResponse.java
  back/babble/src/main/java/gg/babble/babble/service/TagService.java
  back/babble/src/test/java/gg/babble/babble/domain/repository/RoomRepositoryTest.java
  back/babble/src/test/java/gg/babble/babble/domain/repository/TagRepositoryTest.java
  back/babble/src/test/java/gg/babble/babble/restdocs/RoomApiDocumentTest.java
  back/babble/src/test/java/gg/babble/babble/restdocs/TagApiDocumentTest.java
  back/babble/src/test/java/gg/babble/babble/service/RoomServiceTest.java
  back/babble/src/test/java/gg/babble/babble/service/TagServiceTest.java
Labels: back-end, priority-1, refactor

#228 feat : 웹 소켓 테스트 코드 작성
  back/babble/src/main/java/gg/babble/babble/controller/UserListUpdateController.java
  back/babble/src/main/java/gg/babble/babble/dto/MessageResponse.java
  back/babble/src/main/java/gg/babble/babble/dto/UserListUpdateResponse.java
  back/babble/src/main/java/gg/babble/babble/dto/UserResponse.java
  back/babble/src/test/java/gg/babble/babble/AcceptanceTest.java
  back/babble/src/test/java/gg/babble/babble/ApplicationTest.java
  back/babble/src/test/java/gg/babble/babble/controller/WebSocketChattingTest.java
  back/babble/src/test/java/gg/babble/babble/controller/WebSocketConnectTest.java
  back/babble/src/test/java/gg/babble/babble/controller/WebSocketRoomUpdateTest.java
  back/babble/src/test/java/gg/babble/babble/restdocs/TagApiDocumentTest.java
Labels: back-end, feature, priority-1

#227 web socket restdocs 재추가
  back/babble/src/docs/asciidoc/api-docs.adoc
  back/babble/src/docs/custom-snippets/chat-receive/web-socket-request.adoc
  back/babble/src/docs/custom-snippets/chat-receive/web-socket-response.adoc
  back/babble/src/docs/custom-snippets/chat-room-connect/web-socket-request.adoc
  back/babble/src/docs/custom-snippets/chat-room-connect/web-socket-response.adoc
  back/babble/src/docs/custom-snippets/chat-room-update/web-socket-request.adoc
  back/babble/src/docs/custom-snippets/chat-room-update/web-socket-response.adoc
  back/babble/src/docs/custom-snippets/chat-send/web-socket-request.adoc
  back/babble/src/docs/custom-snippets/chat-send/web-socket-response.adoc
  back/babble/src/docs/custom-snippets/user-list/web-socket-request.adoc
  back/babble/src/docs/custom-snippets/user-list/web-socket-response.adoc
  back/babble/src/main/resources/static/docs/api-docs.html
Labels: back-end, bug, priority-1

#231 방 전체 조회 API 구현
  back/babble/.gitignore
  back/babble/src/main/java/gg/babble/babble/DataLoader.java
  back/babble/src/main/java/gg/babble/babble/config/PageableConfig.java
  back/babble/src/main/java/gg/babble/babble/controller/ChatController.java
  back/babble/src/main/java/gg/babble/babble/controller/GameController.java
  back/babble/src/main/java/gg/babble/babble/controller/RoomController.java
  back/babble/src/main/java/gg/babble/babble/controller/TagController.java
  back/babble/src/main/java/gg/babble/babble/controller/UserController.java
  back/babble/src/main/java/gg/babble/babble/controller/UserListUpdateController.java
  back/babble/src/main/java/gg/babble/babble/domain/Game.java
  back/babble/src/main/java/gg/babble/babble/domain/repository/RoomRepository.java
  back/babble/src/main/java/gg/babble/babble/domain/repository/TagRepository.java
  back/babble/src/main/java/gg/babble/babble/domain/tag/Tag.java
  back/babble/src/main/java/gg/babble/babble/dto/request/MessageRequest.java
  back/babble/src/main/java/gg/babble/babble/dto/request/RoomRequest.java
  back/babble/src/main/java/gg/babble/babble/dto/request/TagRequest.java
  back/babble/src/main/java/gg/babble/babble/dto/request/UserJoinRequest.java
  back/babble/src/main/java/gg/babble/babble/dto/request/UserRequest.java
  back/babble/src/main/java/gg/babble/babble/dto/response/CreatedRoomResponse.java
  back/babble/src/main/java/gg/babble/babble/dto/response/FoundRoomResponse.java
  back/babble/src/main/java/gg/babble/babble/dto/response/GameImageResponse.java
  back/babble/src/main/java/gg/babble/babble/dto/response/GameResponse.java
  back/babble/src/main/java/gg/babble/babble/dto/response/HeadCountResponse.java
  back/babble/src/main/java/gg/babble/babble/dto/response/IndexPageGameResponse.java
  back/babble/src/main/java/gg/babble/babble/dto/response/MessageResponse.java
  back/babble/src/main/java/gg/babble/babble/dto/response/TagResponse.java
  back/babble/src/main/java/gg/babble/babble/dto/response/UserListUpdateResponse.java
  back/babble/src/main/java/gg/babble/babble/dto/response/UserResponse.java
  back/babble/src/main/java/gg/babble/babble/service/ChatService.java
  back/babble/src/main/java/gg/babble/babble/service/GameService.java
  back/babble/src/main/java/gg/babble/babble/service/RoomService.java
  back/babble/src/main/java/gg/babble/babble/service/TagService.java
  back/babble/src/main/java/gg/babble/babble/service/UserService.java
  back/babble/src/test/java/gg/babble/babble/ApplicationTest.java
  back/babble/src/test/java/gg/babble/babble/controller/WebSocketChattingTest.java
  back/babble/src/test/java/gg/babble/babble/controller/WebSocketRoomUpdateTest.java
  back/babble/src/test/java/gg/babble/babble/restdocs/GameApiDocumentTest.java
  back/babble/src/test/java/gg/babble/babble/restdocs/RoomApiDocumentTest.java
  back/babble/src/test/java/gg/babble/babble/restdocs/TagApiDocumentTest.java
  back/babble/src/test/java/gg/babble/babble/service/GameServiceTest.java
  back/babble/src/test/java/gg/babble/babble/service/RoomServiceTest.java
  back/babble/src/test/java/gg/babble/babble/service/TagServiceTest.java
  back/babble/src/test/java/gg/babble/babble/service/UserServiceTest.java
Labels: back-end, priority-1

#235 fix: 테스트코드 버그 수정
  back/babble/src/test/java/gg/babble/babble/service/SubscribeAuthServiceTest.java
Labels: back-end, bug, priority-1

#240 로그 경로 재수정
  back/babble/.gitignore
  back/babble/src/main/resources/logback-spring.xml
Labels: back-end, bug, priority-1

#245 fix: api-docs가 덮어쓰기 되도록 수정
  back/babble/build.gradle
Labels: back-end, priority-2

#246 fix: api-docs가 덮어쓰기 되도록 수정
  back/babble/build.gradle
Labels: back-end, priority-2

#261 feat: rest-docs 파일 추가
  .github/workflows/back-main.yml
  .github/workflows/back-release.yml
  back/babble/build.gradle
  back/babble/src/docs/asciidoc/api-docs.adoc
  back/babble/src/docs/custom-snippets/chat-room-update/web-socket-request.adoc
  back/babble/src/docs/custom-snippets/chat-send/web-socket-request.adoc
  back/babble/src/docs/custom-snippets/chat-send/web-socket-response.adoc
  back/babble/src/docs/custom-snippets/user-list/web-socket-response.adoc
  back/babble/src/main/resources/static/docs/api-docs.html
Labels: back-end, priority-1

#262 웹 소켓 rest docs 문서화
  .github/workflows/back-main.yml
  .github/workflows/back-release.yml
  back/babble/build.gradle
  back/babble/src/docs/asciidoc/api-docs.adoc
  back/babble/src/docs/custom-snippets/chat-room-update/web-socket-request.adoc
  back/babble/src/docs/custom-snippets/chat-send/web-socket-request.adoc
  back/babble/src/docs/custom-snippets/chat-send/web-socket-response.adoc
  back/babble/src/docs/custom-snippets/user-list/web-socket-response.adoc
  back/babble/src/main/resources/static/docs/api-docs.html
  back/babble/src/test/java/gg/babble/babble/controller/WebSocketRoomUpdateTest.java
Labels: back-end, priority-1

#270 feat: 방 목록 페이지 방 생성 페이지 로직 구현
  front/index.js
  front/package.json
  front/src/App.js
  front/src/chunks/Chatbox/Chatbox.js
  front/src/chunks/Participants/Participants.js
  front/src/chunks/Participants/Participants.scss
  front/src/chunks/Participants/Participants.stories.js
  front/src/chunks/TagList/TagList.js
  front/src/components/Avatar/Avatar.scss
  front/src/components/Badge/Badge.scss
  front/src/components/Badge/BadgeClickable.js
  front/src/components/Button/RoundButton.js
  front/src/components/Button/SquareButton.js
  front/src/components/MainImage/MainImage.scss
  front/src/components/Modal/Modal.js
  front/src/components/Modal/Modal.scss
  front/src/components/Modal/ModalError.js
  front/src/components/Modal/ModalError.scss
  front/src/components/Modal/ModalNickname.js
  front/src/components/NicknameSection/NicknameSection.js
  front/src/components/NicknameSection/NicknameSection.scss
  front/src/components/Room/Room.js
  front/src/components/SearchInput/DropdownInput.js
  front/src/components/SearchInput/SearchInput.js
  front/src/components/SearchInput/SearchInput.scss
  front/src/components/SearchInput/TextInput.js
  front/src/components/Tag/TagErasable.js
  front/src/constants/chat.js
  front/src/constants/event.js
  front/src/constants/i18n.js
  front/src/constants/path.js
  front/src/contexts/ChattingModalProvider.js
  front/src/contexts/DefaultModalProvider.js
  front/src/contexts/ModalProvider.js
  front/src/contexts/UserProvider.js
  front/src/core/Typography/Caption2.js
  front/src/hooks/useInterval.js
  front/src/hooks/useUpdateEffect.js
  front/src/pages/ChangeNickname/ChangeNickname.js
  front/src/pages/ChangeNickname/ChangeNickname.scss
  front/src/pages/ChattingRoom/ChattingRoom.js
  front/src/pages/MakeRoom/MakeRoom.js
  front/src/pages/MakeRoom/MakeRoom.scss
  front/src/pages/RoomList/RoomList.js
  front/style/_animations.scss
  front/style/_variables.scss
Labels: feature, front-end, priority-1

#271 chore: 3차 데모데이용 테스트 배포
  front/index.js
  front/package.json
  front/src/App.js
  front/src/chunks/Chatbox/Chatbox.js
  front/src/chunks/Participants/Participants.js
  front/src/chunks/Participants/Participants.scss
  front/src/chunks/Participants/Participants.stories.js
  front/src/chunks/TagList/TagList.js
  front/src/components/Avatar/Avatar.scss
  front/src/components/Badge/Badge.scss
  front/src/components/Badge/BadgeClickable.js
  front/src/components/Button/RoundButton.js
  front/src/components/Button/SquareButton.js
  front/src/components/MainImage/MainImage.scss
  front/src/components/Modal/Modal.js
  front/src/components/Modal/Modal.scss
  front/src/components/Modal/ModalError.js
  front/src/components/Modal/ModalError.scss
  front/src/components/Modal/ModalNickname.js
  front/src/components/NicknameSection/NicknameSection.js
  front/src/components/NicknameSection/NicknameSection.scss
  front/src/components/Room/Room.js
  front/src/components/SearchInput/DropdownInput.js
  front/src/components/SearchInput/SearchInput.js
  front/src/components/SearchInput/SearchInput.scss
  front/src/components/SearchInput/TextInput.js
  front/src/components/Tag/TagErasable.js
  front/src/constants/chat.js
  front/src/constants/event.js
  front/src/constants/i18n.js
  front/src/constants/path.js
  front/src/contexts/ChattingModalProvider.js
  front/src/contexts/DefaultModalProvider.js
  front/src/contexts/ModalProvider.js
  front/src/contexts/UserProvider.js
  front/src/core/Typography/Caption2.js
  front/src/hooks/useInterval.js
  front/src/hooks/useUpdateEffect.js
  front/src/pages/ChangeNickname/ChangeNickname.js
  front/src/pages/ChangeNickname/ChangeNickname.scss
  front/src/pages/ChattingRoom/ChattingRoom.js
  front/src/pages/MakeRoom/MakeRoom.js
  front/src/pages/MakeRoom/MakeRoom.scss
  front/src/pages/RoomList/RoomList.js
  front/style/_animations.scss
  front/style/_variables.scss
Labels: feature, front-end, priority-1
