Repository woowacourse-teams/2021-babble, pull requests merged in 2021-09, with the labels that each got.

#473 docs: README.md에 기술 스택 이미지 추가
  README.md
  images/babble-tech-stack.png
Labels: back-end, front-end

#479 SonarCloud 설정파일 추가
  .sonarcloud.properties
Labels: feature

#480 SonarCloud 설정 파일 수정
  .github/workflows/sonarcloud-analysis.yml
  back/babble/build.gradle
  back/babble/src/main/java/gg/babble/babble/domain/user/User.java
Labels: refactor

#498 fix: 유저가 방에서 제대로 나가지지 않는 버그 수정
  back/babble/src/main/java/gg/babble/babble/domain/Session.java
  back/babble/src/main/java/gg/babble/babble/domain/game/Game.java
  back/babble/src/main/java/gg/babble/babble/domain/room/Room.java
  back/babble/src/test/java/gg/babble/babble/controller/WebSocketRoomUpdateTest.java
  back/babble/src/test/resources/websocket-context.sql
Labels: bug, back-end, priority-1

#508 feat: 브라우저 푸시 알림 기능 구현
  front/cypress/integration/App.spec.js
  front/index.js
  front/public/manifest.json
  front/src/chunks/Participants/Participants.js
  front/src/chunks/Participants/Participants.scss
  front/src/components/Avatar/AvatarImage.js
  front/src/components/Footer/Footer.js
  front/src/components/Modal/Modal.js
  front/src/components/NicknameSection/NicknameSection.scss
  front/src/components/NotFound/NotFound.js
  front/src/components/ToggleNotification/ToggleNotification.js
  front/src/components/ToggleNotification/ToggleNotification.scss
  front/src/components/index.js
  front/src/constants/api.js
  front/src/constants/notification.js
  front/src/constants/regex.js
  front/src/contexts/PushNotificationProvider.js
  front/src/hooks/usePushNotification.js
  front/src/hooks/useTabNotification.js
  front/src/pages/ChangeNickname/ChangeNickname.js
  front/src/pages/ChattingRoom/ChattingRoom.js
  front/src/pages/ChattingRoom/ChattingRoom.scss
  front/src/pages/GameList/GameList.js
  front/src/pages/MakeRoom/MakeRoom.js
  front/src/pages/RoomList/RoomList.js
Labels: feature, front-end, priority-1

#514 refactor: workflow 파일 자바 버전 스위칭 명시적으로 변경
  .github/workflows/back-main-deploy.yml
  .github/workflows/back-release-deploy.yml
  back/babble/src/main/java/gg/babble/babble/service/TagService.java
Labels: refactor, back-end, priority-2, service-code

#515 줄임말에 대한 자동완성 기능 구현 / workflow 파일 자바 버전 스위칭 명시적으로 변경
  .github/workflows/back-main-deploy.yml
  .github/workflows/back-release-deploy.yml
  back/babble/src/main/java/gg/babble/babble/service/TagService.java
  front/src/pages/GameList/GameList.js
Labels: feature, refactor, back-end, front-end, service-code

#484 refactor: 백엔드 로깅 파일 분리 추가 리팩토링
  .sonarcloud.properties
  back/babble/build.gradle
  back/babble/src/main/resources/application-dev.yml
  back/babble/src/main/resources/application-local.properties
  back/babble/src/main/resources/application-local.yml
  back/babble/src/main/resources/application-prod.properties
  back/babble/src/main/resources/application-prod.yml
  back/babble/src/main/resources/application-test.properties
  back/babble/src/main/resources/application-test.yml
  back/babble/src/main/resources/log-appender.xml
  back/babble/src/main/resources/logback-access.xml
  back/babble/src/main/resources/logback-spring.xml
  back/babble/src/main/resources/logback/console-appender/console-access-appender.xml
  back/babble/src/main/resources/logback/console-appender/console-db-appender.xml
  back/babble/src/main/resources/logback/console-appender/console-log-appender.xml
  back/babble/src/main/resources/logback/file-appender/file-access-appender.xml
  back/babble/src/main/resources/logback/file-appender/file-debug-appender.xml
  back/babble/src/main/resources/logback/file-appender/file-error-appender.xml
  back/babble/src/main/resources/logback/file-appender/file-info-appender.xml
  back/babble/src/main/resources/logback/file-appender/file-warn-appender.xml
  back/babble/src/test/java/gg/babble/babble/ApplicationTest.java
  back/babble/src/test/java/gg/babble/babble/controller/ApplicationWebSocketTest.java
  back/babble/src/test/java/gg/babble/babble/domain/repository/GameRepositoryTest.java
  back/babble/src/test/java/gg/babble/babble/domain/repository/RoomRepositoryTest.java
  back/babble/src/test/java/gg/babble/babble/domain/repository/SessionRepositoryTest.java
  back/babble/src/test/java/gg/babble/babble/domain/repository/TagRepositoryTest.java
  back/babble/src/test/java/gg/babble/babble/domain/repository/UserRepositoryTest.java
  back/babble/src/test/resources/application-test.properties
  back/babble/src/test/resources/application.yml
Labels: refactor, back-end, service-code

#516 chore: 코드 최적화
  front/index.js
  front/package-lock.json
  front/package.json
  front/src/App.js
  front/src/chunks/Participants/Participants.js
  front/src/components/Avatar/Avatar.scss
  front/src/components/Avatar/AvatarImage.js
  front/src/components/Badge/Badge.stories.js
  front/src/components/Modal/ModalMinimized.js
  front/src/components/NicknameSection/NicknameSection.js
  front/src/components/SearchInput/DropdownInput.js
  front/src/components/SearchInput/SearchInput.js
  front/src/components/Tag/TagErasable.js
  front/src/components/ToggleNotification/ToggleNotification.js
  front/src/hooks/useThrottle.js
  front/src/pages/ChangeNickname/ChangeNickname.js
  front/src/pages/ChattingRoom/ChattingRoom.js
  front/webpack.config.js
Labels: front-end, priority-1

#518 chore: 코드 최적화 - scripts prod 추가
  front/package.json
Labels: front-end

#521 chore: 폰트 최적화
  front/global.scss
  front/index.html
  front/package-lock.json
  front/package.json
  front/src/App.js
  front/style/fonts.scss
  front/style/fonts/SpoqaHanSansNeoBold.ttf
  front/style/fonts/SpoqaHanSansNeoBold.woff
  front/style/fonts/SpoqaHanSansNeoBold.woff2
  front/style/fonts/SpoqaHanSansNeoMedium.ttf
  front/style/fonts/SpoqaHanSansNeoMedium.woff
  front/style/fonts/SpoqaHanSansNeoMedium.woff2
  front/style/fonts/SpoqaHanSansNeoRegular.ttf
  front/style/fonts/SpoqaHanSansNeoRegular.woff
  front/style/fonts/SpoqaHanSansNeoRegular.woff2
  front/style/global.scss
  front/webpack.config.js
Labels: front-end, priority-1

#523 chore: 빌드시 터미널이 종료되지 않는 문제 해결
  .github/workflows/front-release-test.yml
  front/package.json
  front/webpack.config.js
Labels: front-end, priority-1

#522 chore: 폰트 최적화 (#521)
  .github/workflows/front-release-test.yml
  front/global.scss
  front/index.html
  front/package-lock.json
  front/package.json
  front/src/App.js
  front/style/fonts.scss
  front/style/fonts/SpoqaHanSansNeoBold.ttf
  front/style/fonts/SpoqaHanSansNeoBold.woff
  front/style/fonts/SpoqaHanSansNeoBold.woff2
  front/style/fonts/SpoqaHanSansNeoMedium.ttf
  front/style/fonts/SpoqaHanSansNeoMedium.woff
  front/style/fonts/SpoqaHanSansNeoMedium.woff2
  front/style/fonts/SpoqaHanSansNeoRegular.ttf
  front/style/fonts/SpoqaHanSansNeoRegular.woff
  front/style/fonts/SpoqaHanSansNeoRegular.woff2
  front/style/global.scss
  front/webpack.config.js
Labels: front-end, priority-1

#527 feat: 태그 대안 이름에 대한 검색 구현
  front/src/pages/RoomList/RoomList.js
Labels: feature, front-end, priority-1

#519 feat: 이미지 저장 기능 구현
  .github/workflows/sonarcloud-analysis.yml
  back/babble/build.gradle
  back/babble/src/docs/asciidoc/api-docs.adoc
  back/babble/src/main/java/gg/babble/babble/config/AdminAccessInterceptor.java
  back/babble/src/main/java/gg/babble/babble/config/AmazonConfig.java
  back/babble/src/main/java/gg/babble/babble/config/WebConfig.java
  back/babble/src/main/java/gg/babble/babble/controller/ImageController.java
  back/babble/src/main/java/gg/babble/babble/domain/FileName.java
  back/babble/src/main/java/gg/babble/babble/domain/image/AutoGeneratedSize.java
  back/babble/src/main/java/gg/babble/babble/domain/image/ImageFile.java
  back/babble/src/main/java/gg/babble/babble/domain/image/ImageResolver.java
  back/babble/src/main/java/gg/babble/babble/domain/image/ImageSize.java
  back/babble/src/main/java/gg/babble/babble/domain/image/MutableImage.java
  back/babble/src/main/java/gg/babble/babble/domain/repository/S3Repository.java
  back/babble/src/main/java/gg/babble/babble/domain/repository/s3repository/AbstractS3Repository.java
  back/babble/src/main/java/gg/babble/babble/domain/repository/s3repository/DefaultS3Repository.java
  back/babble/src/main/java/gg/babble/babble/domain/repository/s3repository/InMemoryS3Repository.java
  back/babble/src/main/java/gg/babble/babble/exception/BabbleIOException.java
  back/babble/src/main/java/gg/babble/babble/service/ImageService.java
  back/babble/src/main/resources/application-dev.yml
  back/babble/src/main/resources/application-local.yml
  back/babble/src/main/resources/application-prod.yml
  back/babble/src/main/resources/application-test.yml
  back/babble/src/main/resources/static/docs/api-docs.html
  back/babble/src/test/java/gg/babble/babble/ApplicationTest.java
  back/babble/src/test/java/gg/babble/babble/domain/FileNameTest.java
  back/babble/src/test/java/gg/babble/babble/domain/image/ImageResolverTest.java
  back/babble/src/test/java/gg/babble/babble/domain/image/ImageSizeTest.java
  back/babble/src/test/java/gg/babble/babble/domain/image/MutableImageTest.java
  back/babble/src/test/java/gg/babble/babble/domain/repository/S3RepositoryTest.java
  back/babble/src/test/java/gg/babble/babble/restdocs/AdministratorApiDocumentTest.java
  back/babble/src/test/java/gg/babble/babble/restdocs/ApiDocumentTest.java
  back/babble/src/test/java/gg/babble/babble/restdocs/GameApiDocumentTest.java
  back/babble/src/test/java/gg/babble/babble/restdocs/ImageApiDocumentTest.java
  back/babble/src/test/java/gg/babble/babble/restdocs/RoomApiDocumentTest.java
  back/babble/src/test/java/gg/babble/babble/restdocs/TagApiDocumentTest.java
  back/babble/src/test/java/gg/babble/babble/restdocs/UserApiDocumentTest.java
  back/babble/src/test/java/gg/babble/babble/restdocs/preprocessor/ImageBodyPreprocessor.java
  back/babble/src/test/resources/test-image.jpg
Labels: feature, back-end, priority-2

#535 feat: 백엔드 관련 pr 요청만 정적 분석하도록 수정
  .github/workflows/sonarcloud-analysis.yml
Labels: back-end, priority-2

#549 refactor: application-dev.yml 데이터베이스 설정 제거
  back/babble/src/main/resources/application-dev.yml
Labels: bug, refactor, back-end, priority-1

#551 refactor: application-dev.yml 에서 데이터베이스 URL만 주석처리하도록 변경
  back/babble/src/main/resources/application-dev.yml
Labels: bug, refactor, back-end, priority-1

#552 refactor: application-dev.yml 에서 데이터베이스 URL만 주석처리하도록 변경 (#551)
  back/babble/src/main/resources/application-dev.yml
Labels: bug, refactor, back-end, priority-1

#554 feat: x-forwarded-for 헤더를 사용해서 IP를 확인하도록 수정
  back/babble/src/main/java/gg/babble/babble/config/AdminAccessInterceptor.java
  back/babble/src/test/java/gg/babble/babble/restdocs/GameApiDocumentTest.java
Labels: back-end

#555 feat: x-forwarded-for 헤더를 사용해서 IP를 확인하도록 수정 (#554)
  back/babble/src/main/java/gg/babble/babble/config/AdminAccessInterceptor.java
  back/babble/src/test/java/gg/babble/babble/restdocs/GameApiDocumentTest.java
Labels: back-end

#556 fix: 모바일 사파리와 카카오톡 브라우저에서 페이지가 열리지 않던 버그 수정
  front/src/components/SpeechBubble/SpeechBubble.scss
  front/src/contexts/PushNotificationProvider.js
  front/src/pages/ChangeNickname/ChangeNickname.js
  front/src/pages/ChattingRoom/ChattingRoom.js
  front/src/pages/GameList/GameList.js
  front/src/pages/MakeRoom/MakeRoom.js
  front/src/pages/RoomList/RoomList.js
  front/webpack.config.js
Labels: bug, front-end, priority-1
