Repository woowacourse-teams/2021-babble, pull requests merged in 2021-10, with the labels that each got.

#562 fix: 로깅이 제대로 남지 않는 문제 해결
  back/babble/src/main/java/gg/babble/babble/controller/BabbleAdvice.java
Labels: bug, back-end, priority-1

#564 fix: 이미지 목록 조회 시 발생하는 에러 수정
  back/babble/src/main/java/gg/babble/babble/domain/repository/s3repository/AbstractS3Repository.java
Labels: bug, back-end, priority-1

#566 fix: 사파리 모바일 브라우저에서 확대되는 문제 해결
  front/src/components/ChattingForm/ChattingForm.scss
  front/src/components/SearchInput/SearchInput.scss
  front/src/components/Tag/Tag.js
  front/src/components/Tag/TagErasable.js
Labels: bug, front-end, priority-2

#565 fix: 이미지 목록 조회 시 발생하는 에러 수정
  back/babble/src/main/java/gg/babble/babble/domain/repository/s3repository/AbstractS3Repository.java
  front/src/components/ChattingForm/ChattingForm.scss
  front/src/components/Modal/Modal.scss
  front/src/components/NameList/NameList.js
  front/src/components/NameList/NameList.scss
  front/src/components/NameList/NameList.stories.js
  front/src/components/SearchInput/SearchInput.scss
  front/src/components/Tag/Tag.js
  front/src/components/Tag/Tag.scss
  front/src/components/Tag/TagErasable.js
  front/style/_mixins.scss
  front/style/_variables.scss
Labels: bug, back-end, priority-1

#569 feat: 빌드 시 rest docs가 자동 생성되도록 구현
  back/babble/build.gradle
  back/babble/src/main/resources/static/docs/api-docs.html
Labels: refactor, back-end, priority-2

#571 feat: 게임 관리 컴포넌트 구현
  front/src/chunks/GameManagement/GameManagement.js
  front/src/chunks/GameManagement/GameManagement.scss
  front/src/chunks/GameManagement/GameManagement.stories.js
  front/src/components/ImagePreview/ImagePreview.scss
  front/src/components/ImageRegister/ImageRegister.scss
  front/src/components/NameList/NameList.js
  front/src/components/NameList/NameList.scss
  front/src/components/SpeechBubble/SpeechBubble.stories.js
  front/style/_mixins.scss
Labels: feature, front-end, priority-1

#568 feat: 운영자(관리자) 관리 컴포넌트 마크업 구현
  front/src/chunks/AdminManagement/AdminManagement.js
  front/src/chunks/AdminManagement/AdminManagement.scss
  front/src/chunks/AdminManagement/AdminManagement.stories.js
  front/style/_functions.scss
  front/style/_variables.scss
Labels: feature, front-end, priority-1

#578 refactor: 테스트용 EC2 인스턴스 분할에 따른 리팩토링
  .github/workflows/back-release-deploy.yml
  back/babble/src/main/resources/application-dev.yml
Labels: refactor, back-end, priority-1, infra

#579 게임 관리 컴포넌트 / 운영자 관리 컴포넌트 / TEST 인스턴스 분리에 따른 리팩토링
  .github/workflows/back-release-deploy.yml
  back/babble/src/main/resources/application-dev.yml
  front/src/chunks/AdminManagement/AdminManagement.js
  front/src/chunks/AdminManagement/AdminManagement.scss
  front/src/chunks/AdminManagement/AdminManagement.stories.js
  front/src/chunks/GameManagement/GameManagement.js
  front/src/chunks/GameManagement/GameManagement.scss
  front/src/chunks/GameManagement/GameManagement.stories.js
  front/src/components/ImagePreview/ImagePreview.scss
  front/src/components/ImageRegister/ImageRegister.scss
  front/src/components/NameList/NameList.js
  front/src/components/NameList/NameList.scss
  front/src/components/SpeechBubble/SpeechBubble.stories.js
  front/style/_functions.scss
  front/style/_mixins.scss
  front/style/_variables.scss
Labels: feature, refactor, back-end, front-end, priority-1, infra, service-code
