Repository woowacourse-teams/2021-babble, pull requests merged in 2021-08, with the labels that each got.

#281 fix: 방 생성 후 방 목록 페이지 재입장 시 닉네임이 변경되는 문제 수정
  front/src/contexts/UserProvider.js
  front/src/pages/RoomList/RoomList.js
Labels: bug, front-end, priority-1

#282 fix: 자동완성 항목을 클릭하면 input이 초기화되도록 수정
  front/jest.config.js
  front/package-lock.json
  front/package.json
  front/setupTests.js
  front/src/components/SearchInput/SearchInput.js
  front/webpack.config.js
Labels: bug, front-end, priority-1

#283 fix: 자동완성 항목을 클릭하면 input이 초기화되도록 수정
  front/jest.config.js
  front/package-lock.json
  front/package.json
  front/setupTests.js
  front/src/components/SearchInput/SearchInput.js
  front/webpack.config.js
Labels: bug, front-end, priority-1

#314 fix: front-release-yml
  .github/workflows/front-main.yml
  .github/workflows/front-release.yml
Labels: bug, front-end, priority-1

#326 feat: 초기 페이지(게임 목록 페이지) 구현
  .github/workflows/front-main.yml
  .github/workflows/front-release.yml
  front/package.json
  front/src/App.js
  front/src/chunks/Chatbox/Chatbox.js
  front/src/chunks/Chatbox/Chatbox.stories.js
  front/src/chunks/Participants/Participants.js
  front/src/chunks/TagList/TagList.js
  front/src/chunks/index.js
  front/src/components/Avatar/Avatar.stories.js
  front/src/components/Avatar/AvatarWithBadge.js
  front/src/components/Badge/Badge.stories.js
  front/src/components/Button/Button.stories.js
  front/src/components/ChattingForm/ChattingForm.js
  front/src/components/GameCard/GameCard.js
  front/src/components/GameCard/GameCard.scss
  front/src/components/Modal/ModalError.js
  front/src/components/NavBar/NavBar.js
  front/src/components/NavBar/NavBar.scss
  front/src/components/NicknameSection/NicknameSection.js
  front/src/components/Room/Room.js
  front/src/components/SearchInput/DropdownInput.js
  front/src/components/SearchInput/SearchInput.js
  front/src/components/SearchInput/TextInput.js
  front/src/components/Slider/Slider.js
  front/src/components/Slider/Slider.scss
  front/src/components/SpeechBubble/SpeechBubble.stories.js
  front/src/components/SpeechBubble/SpeechBubbleWithAvatar.js
  front/src/components/Tag/Tag.stories.js
  front/src/components/index.js
  front/src/constants/chat.js
  front/src/constants/path.js
  front/src/contexts/ChattingModalProvider.js
  front/src/contexts/DefaultModalProvider.js
  front/src/contexts/UserProvider.js
  front/src/core/Layout/PageLayout.scss
  front/src/core/Logo/Logo.js
  front/src/core/Logo/Logo.scss
  front/src/core/Typography/index.js
  front/src/hooks/useThrottle.js
  front/src/pages/ChangeNickname/ChangeNickname.js
  front/src/pages/ChattingRoom/ChattingRoom.js
  front/src/pages/GameList/GameList.js
  front/src/pages/GameList/GameList.scss
  front/src/pages/MakeRoom/MakeRoom.js
  front/src/pages/MakeRoom/MakeRoom.scss
  front/src/pages/RoomList/RoomList.js
  front/src/pages/RoomList/RoomList.scss
  front/src/utils/localStorage.js
  front/style/_animations.scss
Labels: feature, front-end, priority-1

#313 feat: flyway로 db 마이그레이션 적용
  back/babble/build.gradle
  back/babble/src/main/java/gg/babble/babble/domain/room/MaxHeadCount.java
  back/babble/src/main/resources/application-prod.properties
  back/babble/src/main/resources/application-test.properties
  back/babble/src/main/resources/db/migration/V1__init.sql
Labels: back-end, priority-1

#339 flyway로 db 마이그레이션 적용
  back/babble/build.gradle
  back/babble/src/docs/custom-snippets/chat-send/web-socket-request.adoc
  back/babble/src/docs/custom-snippets/chat-send/web-socket-response.adoc
  back/babble/src/main/java/gg/babble/babble/domain/room/MaxHeadCount.java
  back/babble/src/main/resources/application-prod.properties
  back/babble/src/main/resources/application-test.properties
  back/babble/src/main/resources/db/migration/V1__init.sql
  back/babble/src/main/resources/static/docs/api-docs.html
Labels: back-end, priority-1

#342 fix: local 프로필이 사용하는 DB 컨테이너 IP주소 변경
  back/babble/src/main/resources/application-local.properties
Labels: bug, priority-1

#343 fix: local 프로필이 사용하는 DB 컨테이너 IP주소 변경 (#342)
  back/babble/src/main/resources/application-local.properties
Labels: bug, back-end, priority-1

#344 Hotfix/back/workflow
  .github/workflows/back-main.yml
Labels: bug, back-end, front-end, priority-1

#345 Hotfix/back/workflow (#344)
  .github/workflows/back-main.yml
Labels: bug, back-end, front-end, priority-1

#348 style: 서비스코드 import 구문 순서 수정
  back/babble/src/main/java/gg/babble/babble/service/SubscribeAuthService.java
Labels: refactor, back-end, priority-3

#349 style: 서비스코드 import 구문 순서 수정 (#348)
  back/babble/src/main/java/gg/babble/babble/service/SubscribeAuthService.java
Labels: refactor, back-end, priority-3

#368 chore: sonarCube 테스트 커버러지를 나타내기 위한 jacoco 추가
  back/babble/build.gradle
Labels: feature, back-end, priority-1

#378 feat: 모달 애니메이션 및 버그 수정, Meta Tags 설정
  front/.storybook/babbleTheme.js
  front/.storybook/main.js
  front/.storybook/manager.js
  front/.storybook/preview.js
  front/index.html
  front/package-lock.json
  front/package.json
  front/public/android-chrome-192x192.png
  front/public/android-chrome-512x512.png
  front/public/apple-touch-icon.png
  front/public/favicon-16x16.png
  front/public/favicon-32x32.png
  front/public/favicon.ico
  front/public/manifest.json
  front/public/ogimg.png
  front/src/chunks/Chatbox/Chatbox.js
  front/src/chunks/Chatbox/Chatbox.scss
  front/src/chunks/Participants/Participants.scss
  front/src/chunks/Participants/Participants.stories.js
  front/src/chunks/TagList/TagList.js
  front/src/chunks/TagList/TagList.scss
  front/src/components/Avatar/AvatarWithBadge.js
  front/src/components/Badge/Badge.stories.js
  front/src/components/Button/Button.stories.js
  front/src/components/Footer/Footer.scss
  front/src/components/Modal/Modal.scss
  front/src/components/Modal/ModalConfirm.js
  front/src/components/Modal/ModalCustom.scss
  front/src/components/Modal/ModalError.js
  front/src/components/NicknameSection/NicknameSection.scss
  front/src/components/NicknameSection/NicknameSection.stories.js
  front/src/components/Room/Room.scss
  front/src/components/Room/Room.stories.js
  front/src/components/SearchInput/SearchInput.stories.js
  front/src/components/SpeechBubble/SpeechBubble.stories.js
  front/src/components/Tag/Tag.stories.js
  front/src/components/index.js
  front/src/constants/event.js
  front/src/contexts/UserProvider.js
  front/src/pages/ChangeNickname/ChangeNickname.js
  front/src/pages/ChattingRoom/ChattingRoom.js
  front/src/pages/ChattingRoom/ChattingRoom.scss
  front/src/pages/GameList/GameList.js
  front/src/pages/GameList/GameList.scss
  front/src/pages/MakeRoom/MakeRoom.js
  front/src/pages/RoomList/RoomList.js
  front/src/pages/RoomList/RoomList.scss
  front/src/utils/localStorage.js
  front/src/utils/storage.js
  front/style/_animations.scss
  front/style/_variables.scss
  front/webpack.config.js
Labels: bug, feature, front-end, priority-1

#383 feat: 모달 애니메이션 및 버그 수정, Meta Tags 설정
  back/babble/build.gradle
  front/.storybook/babbleTheme.js
  front/.storybook/main.js
  front/.storybook/manager.js
  front/.storybook/preview.js
  front/index.html
  front/package-lock.json
  front/package.json
  front/public/android-chrome-192x192.png
  front/public/android-chrome-512x512.png
  front/public/apple-touch-icon.png
  front/public/favicon-16x16.png
  front/public/favicon-32x32.png
  front/public/favicon.ico
  front/public/manifest.json
  front/public/ogimg.png
  front/src/chunks/Chatbox/Chatbox.js
  front/src/chunks/Chatbox/Chatbox.scss
  front/src/chunks/Participants/Participants.scss
  front/src/chunks/Participants/Participants.stories.js
  front/src/chunks/TagList/TagList.js
  front/src/chunks/TagList/TagList.scss
  front/src/components/Avatar/AvatarWithBadge.js
  front/src/components/Badge/Badge.stories.js
  front/src/components/Button/Button.stories.js
  front/src/components/Footer/Footer.scss
  front/src/components/Modal/Modal.scss
  front/src/components/Modal/ModalConfirm.js
  front/src/components/Modal/ModalCustom.scss
  front/src/components/Modal/ModalError.js
  front/src/components/NicknameSection/NicknameSection.scss
  front/src/components/NicknameSection/NicknameSection.stories.js
  front/src/components/Room/Room.scss
  front/src/components/Room/Room.stories.js
  front/src/components/SearchInput/SearchInput.stories.js
  front/src/components/SpeechBubble/SpeechBubble.stories.js
  front/src/components/Tag/Tag.stories.js
  front/src/components/index.js
  front/src/constants/event.js
  front/src/contexts/UserProvider.js
  front/src/pages/ChangeNickname/ChangeNickname.js
  front/src/pages/ChattingRoom/ChattingRoom.js
  front/src/pages/ChattingRoom/ChattingRoom.scss
  front/src/pages/GameList/GameList.js
  front/src/pages/GameList/GameList.scss
  front/src/pages/MakeRoom/MakeRoom.js
  front/src/pages/RoomList/RoomList.js
  front/src/pages/RoomList/RoomList.scss
  front/src/utils/localStorage.js
  front/src/utils/storage.js
  front/style/_animations.scss
  front/style/_variables.scss
  front/webpack.config.js
Labels: bug, feature, front-end, priority-1

#384 feat: 랜덤 아바타 기능 구현
  back/babble/src/main/java/gg/babble/babble/domain/Game.java
  back/babble/src/main/java/gg/babble/babble/domain/user/User.java
  back/babble/src/main/java/gg/babble/babble/util/UrlParser.java
  back/babble/src/test/java/gg/babble/babble/controller/WebSocketChattingTest.java
  back/babble/src/test/java/gg/babble/babble/domain/UserTest.java
  back/babble/src/test/java/gg/babble/babble/restdocs/UserApiDocumentTest.java
  back/babble/src/test/java/gg/babble/babble/service/UserServiceTest.java
Labels: back-end, priority-1

#369 chore: 워크플로우 동작 사이 의존성 부여
  .github/workflows/back-main.yml
  .github/workflows/back-release.yml
Labels: refactor, back-end, priority-2

#373 관리자 페이지 게임 추가/수정/삭제 API 구현
  back/babble/src/main/java/gg/babble/babble/DataLoader.java
  back/babble/src/main/java/gg/babble/babble/controller/GameController.java
  back/babble/src/main/java/gg/babble/babble/domain/Game.java
  back/babble/src/main/java/gg/babble/babble/domain/repository/GameRepository.java
  back/babble/src/main/java/gg/babble/babble/domain/room/Room.java
  back/babble/src/main/java/gg/babble/babble/dto/request/GameRequest.java
  back/babble/src/main/java/gg/babble/babble/service/GameService.java
  back/babble/src/main/resources/db/migration/V2__add_column_deleted.sql
  back/babble/src/test/java/gg/babble/babble/domain/GameTest.java
  back/babble/src/test/java/gg/babble/babble/domain/repository/GameRepositoryTest.java
  back/babble/src/test/java/gg/babble/babble/restdocs/GameApiDocumentTest.java
  back/babble/src/test/java/gg/babble/babble/service/GameServiceTest.java
  back/babble/src/test/java/gg/babble/babble/service/SubscribeAuthServiceTest.java
  back/babble/src/test/resources/application-test.properties
Labels: feature, back-end, priority-2

#391 Feature/back/length limit
  back/babble/src/docs/asciidoc/api-docs.adoc
  back/babble/src/main/java/gg/babble/babble/DataLoader.java
  back/babble/src/main/java/gg/babble/babble/controller/BabbleAdvice.java
  back/babble/src/main/java/gg/babble/babble/domain/Game.java
  back/babble/src/main/java/gg/babble/babble/domain/message/Content.java
  back/babble/src/main/java/gg/babble/babble/domain/repository/UserRepository.java
  back/babble/src/main/java/gg/babble/babble/domain/room/MaxHeadCount.java
  back/babble/src/main/java/gg/babble/babble/domain/room/Room.java
  back/babble/src/main/java/gg/babble/babble/domain/tag/Tag.java
  back/babble/src/main/java/gg/babble/babble/domain/user/Nickname.java
  back/babble/src/main/java/gg/babble/babble/domain/user/RoomUsers.java
  back/babble/src/main/java/gg/babble/babble/domain/user/User.java
  back/babble/src/main/java/gg/babble/babble/dto/request/MessageRequest.java
  back/babble/src/main/java/gg/babble/babble/dto/request/TagRequest.java
  back/babble/src/main/java/gg/babble/babble/dto/request/UserRequest.java
  back/babble/src/main/java/gg/babble/babble/exception/BabbleLengthException.java
  back/babble/src/main/java/gg/babble/babble/service/ChatService.java
  back/babble/src/main/java/gg/babble/babble/service/GameService.java
  back/babble/src/main/java/gg/babble/babble/service/RoomService.java
  back/babble/src/main/java/gg/babble/babble/service/SessionService.java
  back/babble/src/main/java/gg/babble/babble/service/SubscribeAuthService.java
  back/babble/src/main/java/gg/babble/babble/service/TagService.java
  back/babble/src/main/java/gg/babble/babble/service/UserService.java
  back/babble/src/main/java/gg/babble/babble/util/UrlParser.java
  back/babble/src/main/resources/static/docs/api-docs.html
  back/babble/src/test/java/gg/babble/babble/controller/WebSocketRoomUpdateTest.java
  back/babble/src/test/java/gg/babble/babble/domain/TagTest.java
  back/babble/src/test/java/gg/babble/babble/domain/repository/GameRepositoryTest.java
  back/babble/src/test/java/gg/babble/babble/domain/repository/UserRepositoryTest.java
  back/babble/src/test/java/gg/babble/babble/restdocs/GameApiDocumentTest.java
  back/babble/src/test/java/gg/babble/babble/service/SubscribeAuthServiceTest.java
  back/babble/src/test/java/gg/babble/babble/service/UserServiceTest.java
Labels: back-end, priority-1

#392 랜덤 아바타, 테스트 코드 커버리지, 입력 길이 제한
  .github/workflows/back-main.yml
  .github/workflows/back-release.yml
  back/babble/src/docs/asciidoc/api-docs.adoc
  back/babble/src/main/java/gg/babble/babble/DataLoader.java
  back/babble/src/main/java/gg/babble/babble/controller/BabbleAdvice.java
  back/babble/src/main/java/gg/babble/babble/controller/GameController.java
  back/babble/src/main/java/gg/babble/babble/domain/Game.java
  back/babble/src/main/java/gg/babble/babble/domain/message/Content.java
  back/babble/src/main/java/gg/babble/babble/domain/repository/GameRepository.java
  back/babble/src/main/java/gg/babble/babble/domain/repository/UserRepository.java
  back/babble/src/main/java/gg/babble/babble/domain/room/MaxHeadCount.java
  back/babble/src/main/java/gg/babble/babble/domain/room/Room.java
  back/babble/src/main/java/gg/babble/babble/domain/tag/Tag.java
  back/babble/src/main/java/gg/babble/babble/domain/user/Nickname.java
  back/babble/src/main/java/gg/babble/babble/domain/user/RoomUsers.java
  back/babble/src/main/java/gg/babble/babble/domain/user/User.java
  back/babble/src/main/java/gg/babble/babble/dto/request/GameRequest.java
  back/babble/src/main/java/gg/babble/babble/dto/request/MessageRequest.java
  back/babble/src/main/java/gg/babble/babble/dto/request/TagRequest.java
  back/babble/src/main/java/gg/babble/babble/dto/request/UserRequest.java
  back/babble/src/main/java/gg/babble/babble/exception/BabbleLengthException.java
  back/babble/src/main/java/gg/babble/babble/service/ChatService.java
  back/babble/src/main/java/gg/babble/babble/service/GameService.java
  back/babble/src/main/java/gg/babble/babble/service/RoomService.java
  back/babble/src/main/java/gg/babble/babble/service/SessionService.java
  back/babble/src/main/java/gg/babble/babble/service/SubscribeAuthService.java
  back/babble/src/main/java/gg/babble/babble/service/TagService.java
  back/babble/src/main/java/gg/babble/babble/service/UserService.java
  back/babble/src/main/java/gg/babble/babble/util/UrlParser.java
  back/babble/src/main/resources/db/migration/V2__add_column_deleted.sql
  back/babble/src/main/resources/static/docs/api-docs.html
  back/babble/src/test/java/gg/babble/babble/controller/WebSocketChattingTest.java
  back/babble/src/test/java/gg/babble/babble/controller/WebSocketRoomUpdateTest.java
  back/babble/src/test/java/gg/babble/babble/domain/GameTest.java
  back/babble/src/test/java/gg/babble/babble/domain/TagTest.java
  back/babble/src/test/java/gg/babble/babble/domain/UserTest.java
  back/babble/src/test/java/gg/babble/babble/domain/repository/GameRepositoryTest.java
  back/babble/src/test/java/gg/babble/babble/domain/repository/UserRepositoryTest.java
  back/babble/src/test/java/gg/babble/babble/restdocs/GameApiDocumentTest.java
  back/babble/src/test/java/gg/babble/babble/restdocs/UserApiDocumentTest.java
  back/babble/src/test/java/gg/babble/babble/service/GameServiceTest.java
  back/babble/src/test/java/gg/babble/babble/service/SubscribeAuthServiceTest.java
  back/babble/src/test/java/gg/babble/babble/service/UserServiceTest.java
  back/babble/src/test/resources/application-test.properties
Labels: back-end, priority-1

#400 post api 201 상태코드 변경
  back/babble/src/main/java/gg/babble/babble/controller/GameController.java
  back/babble/src/main/java/gg/babble/babble/controller/RoomController.java
  back/babble/src/main/resources/static/docs/api-docs.html
  back/babble/src/test/java/gg/babble/babble/restdocs/GameApiDocumentTest.java
Labels: refactor, back-end, priority-3

#407 feat: 반응형 구현
  .github/workflows/front-main.yml
  .github/workflows/front-release.yml
  front/global.scss
  front/index.html
  front/src/App.js
  front/src/chunks/Chatbox/Chatbox.js
  front/src/chunks/Chatbox/Chatbox.scss
  front/src/chunks/Participants/Participants.scss
  front/src/chunks/TagList/TagList.scss
  front/src/components/Avatar/Avatar.scss
  front/src/components/Badge/Badge.scss
  front/src/components/Badge/BadgeClickable.js
  front/src/components/Button/Button.scss
  front/src/components/ChattingForm/ChattingForm.scss
  front/src/components/Footer/Footer.js
  front/src/components/Footer/Footer.scss
  front/src/components/GameCard/GameCard.scss
  front/src/components/Main/Main.js
  front/src/components/Main/Main.scss
  front/src/components/MainImage/MainImage.scss
  front/src/components/Modal/Modal.scss
  front/src/components/Modal/ModalCustom.scss
  front/src/components/NavBar/NavBar.scss
  front/src/components/NicknameSection/NicknameSection.scss
  front/src/components/Room/Room.scss
  front/src/components/SearchInput/SearchInput.scss
  front/src/components/Slider/Slider.scss
  front/src/components/SpeechBubble/SpeechBubble.scss
  front/src/components/Tag/Tag.scss
  front/src/components/index.js
  front/src/core/Layout/PageLayout.scss
  front/src/core/Typography/Typography.scss
  front/src/pages/ChangeNickname/ChangeNickname.js
  front/src/pages/ChangeNickname/ChangeNickname.scss
  front/src/pages/ChattingRoom/ChattingRoom.js
  front/src/pages/ChattingRoom/ChattingRoom.scss
  front/src/pages/GameList/GameList.js
  front/src/pages/GameList/GameList.scss
  front/src/pages/MakeRoom/MakeRoom.scss
  front/src/pages/RoomList/RoomList.js
  front/src/pages/RoomList/RoomList.scss
  front/style/_animations.scss
  front/style/_functions.scss
  front/style/_mixins.scss
  front/style/_variables.scss
Labels: feature, front-end, priority-1

#408 feat: 반응형 구현 (#407)
  .github/workflows/front-main.yml
  .github/workflows/front-release.yml
  front/global.scss
  front/index.html
  front/src/App.js
  front/src/chunks/Chatbox/Chatbox.js
  front/src/chunks/Chatbox/Chatbox.scss
  front/src/chunks/Participants/Participants.scss
  front/src/chunks/TagList/TagList.scss
  front/src/components/Avatar/Avatar.scss
  front/src/components/Badge/Badge.scss
  front/src/components/Badge/BadgeClickable.js
  front/src/components/Button/Button.scss
  front/src/components/ChattingForm/ChattingForm.scss
  front/src/components/Footer/Footer.js
  front/src/components/Footer/Footer.scss
  front/src/components/GameCard/GameCard.scss
  front/src/components/Main/Main.js
  front/src/components/Main/Main.scss
  front/src/components/MainImage/MainImage.scss
  front/src/components/Modal/Modal.scss
  front/src/components/Modal/ModalCustom.scss
  front/src/components/NavBar/NavBar.scss
  front/src/components/NicknameSection/NicknameSection.scss
  front/src/components/Room/Room.scss
  front/src/components/SearchInput/SearchInput.scss
  front/src/components/Slider/Slider.scss
  front/src/components/SpeechBubble/SpeechBubble.scss
  front/src/components/Tag/Tag.scss
  front/src/components/index.js
  front/src/core/Layout/PageLayout.scss
  front/src/core/Typography/Typography.scss
  front/src/pages/ChangeNickname/ChangeNickname.js
  front/src/pages/ChangeNickname/ChangeNickname.scss
  front/src/pages/ChattingRoom/ChattingRoom.js
  front/src/pages/ChattingRoom/ChattingRoom.scss
  front/src/pages/GameList/GameList.js
  front/src/pages/GameList/GameList.scss
  front/src/pages/MakeRoom/MakeRoom.scss
  front/src/pages/RoomList/RoomList.js
  front/src/pages/RoomList/RoomList.scss
  front/style/_animations.scss
  front/style/_functions.scss
  front/style/_mixins.scss
  front/style/_variables.scss
Labels: feature, front-end, priority-1

#431 feat: 불필요한 static 파일 제거
  back/babble/src/main/resources/static/app.js
  back/babble/src/main/resources/static/index.html
  back/babble/src/main/resources/static/main.css
Labels: back-end, priority-1

#434 feat: Not Found 페이지 구현
  front/index.js
  front/src/App.js
  front/src/components/ErrorBoundary/ErrorBoundary.js
  front/src/components/ErrorBoundary/ErrorComponent.js
  front/src/components/NavBar/NavBar.scss
  front/src/components/NotFound/NotFound.js
  front/src/components/NotFound/NotFound.scss
Labels: feature, front-end, priority-1

#433 Profile 에 따른 log level 수정
  back/babble/src/main/resources/log-appender.xml
  back/babble/src/main/resources/logback-spring.xml
Labels: refactor, back-end, priority-1

#460 feat: Pull Request를 보내면 테스트가 진행되도록 수정
  .github/workflows/back-main-deploy.yml
  .github/workflows/back-main-test.yml
  .github/workflows/back-release-deploy.yml
  .github/workflows/back-release-test.yml
Labels: feature, back-end, priority-2, service-code
